<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/footer.css" />

</head>

<body>
  <!-- <h1>Hello i am here</h1> -->
  <div class="Maincontainer">
    <nav class="container flex items-center justify-between navbar">
      <div>
        <!-- <img src="/im/AskServiceLogo.png" alt="logo" width="80" /> -->
        <h2>AskService</h2>
      </div>
      <div>
        <ul class="flex items-center">
          <li class="ml-10 mt-3">
            <h5><a href="#" class="links">Hire</a></h5>
          </li>
          <li class="ml-10 mt-3">
            <h5><a href="#" class="links">Apply for job</a></h5>
          </li>
          <li class="ml-10 mt-3">
            <h5><a href="#" class="links">About</a></h5>
          </li>
          <li class="ml-10 mt-3">
            <h5><a href="/login" class="links">Login</a></h5>
          </li>
        </ul>
      </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide cara" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 width-100"
            src="https://www.westend61.de/images/0001362342pw/silhouette-man-working-at-construction-site-against-sky-during-sunset-EYF04002.jpg "
            alt="Second slide">
            <div class="centered"><h1>Welcome!! <br>Join Us,Get all services online instantly!!</h1></div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 width-100"
            src="https://img.freepik.com/free-photo/asian-plumber-blue-overalls-clearing-blockage-drain_1098-17773.jpg"
            alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 width-100"
            src="https://media.istockphoto.com/id/1392548214/photo/african-american-factory-worker-having-accident-while-working-in-manufacturing-site-while-his.jpg?b=1&s=170667a&w=0&k=20&c=x-DaMjhTBrYntogDJv5IMYeEztwrYZMGUCuhwhpP-E0="
            alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="footer">
      <%- (include('footer')) %>
    </div>
  </div>


  <!-- <script>document.querySelector('.carousel').carousel()</script> -->
  <script src="/js/app.js"></script>
</body>

</html>