<nav class="container navbar">
    <div>
        <img src="https://img.icons8.com/ios-filled/100/carpenter.png" alt="carpenter" class="topImg" /><span><a
                href="/" class="links">AskService</a></span>
    </div>

    <div>
        <ul class="flex items-center">
            <li class="ml-10 mt-3">
                <h5><a href="/cHome" class="links">Hire</a></h5>
            </li>
            <li class="ml-10 mt-3">
                <h5><a href="/wHome" class="links">Apply for job</a></h5>
            </li>
            <li class="ml-10 mt-3">
                <h5><a href="/about" class="links">About</a></h5>
            </li>
            <% if(locals.user){%>
                <li class="ml-10 mt-3">
                    <h5><a href="/profile/<%=locals.user._id%>" class="links">
                            <%=locals.user.name%>
                        </a></h5>
                </li>
                <li class="ml-10 mt-3">
                    <span><img class="topImg" src="<%=user.avatar %>" alt="<%=user.name%>" /></span>
                </li>
                <% }else{ %>
                    <li class="ml-10 mt-3">
                        <h5><a href="/login" class="links">Login</a></h5>
                    </li>
                    <% }%>
        </ul>
    </div>
</nav>