body{
  display: block;
  height: 100vh;
  width: 100vw;
}
.Maincontainer {
  height: 100vh;
  width: 100vw;
  background-color: grey;
}

.container{
  background-color:black;
  color:white;
}

.width-100 {
  height: 90vh;
  width: 100vw;
}
.navbar{
  height: 10%;
  max-width: 100%;
  margin-left:0px;
  margin-right: 0px;
}

.links{
  color:white;
  text-decoration: none;
}

.cora{
  height:90%;
}