<!DOCTYPE html>
<html>
<head>
  <title>Chat Bot</title>
  <link rel="stylesheet" href="/css/chatbot.css">
</head>
<body>
  <div class="glass"> <h1>Chatbot</h1> <h2>Lets have Some Interaction</h2> <div class="input"> <input type="text" id="userBox" onkeydown="if(event.keyCode == 13){ talk()}" placeholder="Type your Question" /> </div> <p id="chatLog">Answer Appering Hear</p> </div>
  <script src="/js/chatbot.js"></script>
</body>
</html>
