<!DOCTYPE html>
<html lang="en">
<head>
    <title>AskService</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>
<body>
    <div class="container bcontent">

        <nav class="container flex items-center justify-between navbar">
            <div>
              <!-- <img src="/im/AskServiceLogo.png" alt="logo" width="80" /> -->
              <h2>AskService</h2>
            </div>
            <div>
              <ul class="flex items-center">
                <li class="ml-10 mt-3">
                  <h5><a href="#" class="links">Hire</a></h5>
                </li>
                <li class="ml-10 mt-3">
                  <h5><a href="#" class="links">Apply for job</a></h5>
                </li>
                <li class="ml-10 mt-3">
                  <h5><a href="#" class="links">About</a></h5>
                </li>
                <li class="ml-10 mt-3">
                  <h5><a href="/login" class="links">Login</a></h5>
                </li>
              </ul>
            </div>
          </nav>


        <div style="text-align: center; color: blue;">
        <span style="font-size:75px; font-weight:bolder">BOOK </span>
        <span style="font-size:75px; font-weight: 100;">ONLINE</span>
       </div>
        <hr />


        <!-- Home Cleaning -->
        <div class="card" style="width: 1100px; height: 315px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img"  src="/im/Cleaning" alt="Home Cleaning">
                </div>
                <div class="col-sm-7" style="background-color: lightgray; text-align: center; align-items: center;">
                    <div class="card-body" >
                        <br>
                        <br>
                        <h3 class="card-title" style="color: blue;">Home Cleaning</h3>
                        <p class="card-text" style="font-size: 20px;">Domestic Reliable Home Care & Cleaning</p>
                        <p class="card-text" style="font-size: 20px;">Hourly/Monthly</p>


                        <a href="#" class="btn btn-primary">View Profiles</a>
                    </div>
                </div>
            </div>
        </div>
  

     <br><br><br>
     <!-- BabbyCaretaker -->
    <div class="card" style="width: 1100px; height: 315px;">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img class="card-img"  src="/im/BabyCareTaker" alt="Baby Caretaker">
            </div>
            <div class="col-sm-7" style="background-color: lightgray; text-align: center; align-items: center;">
                <div class="card-body" >
                    <br>
                    <br>
                    <h3 class="card-title" style="color: blue;">Baby Caretaker</h3>
                    <p class="card-text" style="font-size: 20px;">Baby Sitting with Care Taker</p>
                    <p class="card-text" style="font-size: 20px;">Hourly/Monthly</p>


                    <a href="#" class="btn btn-primary">View Profiles</a>
                </div>
            </div>
        </div>
    </div>

         <br><br><br>
       <!-- Elderly Care -->
       <div class="card" style="width: 1100px; height: 315px;">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img class="card-img"  src="/im/ElderlyCare" alt="Home Cleaning">
            </div>
            <div class="col-sm-7" style="background-color: lightgray; text-align: center; align-items: center;">
                <div class="card-body" >
                    <br>
                    <br>
                    <h3 class="card-title" style="color: blue;">Elderly Care</h3>
                    <p class="card-text" style="font-size: 20px;">Elderly Care For Senior Citizen</p>
                    <p class="card-text" style="font-size: 20px;">Hourly/Monthly</p>


                    <a href="#" class="btn btn-primary">View Profiles</a>
                </div>
            </div>
        </div>
    </div>



    <br><br><br>
    <!-- Cook -->
    <div class="card" style="width: 1100px; height: 315px;">
     <div class="row no-gutters">
         <div class="col-sm-5">
             <img class="card-img"  src="/im/Cook" alt="Home Cleaning">
         </div>
         <div class="col-sm-7" style="background-color: lightgray; text-align: center; align-items: center;">
             <div class="card-body" >
                 <br>
                 <br>
                 <h3 class="card-title" style="color: blue;">Cook</h3>
                 <p class="card-text" style="font-size: 20px;">Makes all types of food i.e. Chinese, Italian, Indian</p>
                 <p class="card-text" style="font-size: 20px;">Hourly/Monthly</p>


                 <a href="#" class="btn btn-primary">View Profiles</a>
             </div>
         </div>
     </div>
 </div>




 <br><br><br>
 <!-- Patient Care -->
 <div class="card" style="width: 1100px; height: 315px;">
  <div class="row no-gutters">
      <div class="col-sm-5">
          <img class="card-img"  src="/im/PatientCare" alt="Home Cleaning">
      </div>
      <div class="col-sm-7" style="background-color: lightgray; text-align: center; align-items: center;">
          <div class="card-body" >
              <br>
              <br>
              <h3 class="card-title" style="color: blue;">PatientCare</h3>
              <p class="card-text" style="font-size: 20px;">Ensuring the patient is comfortable, administering medication</p>
              <p class="card-text" style="font-size: 20px;">Hourly/Monthly</p>


              <a href="#" class="btn btn-primary">View Profiles</a>
          </div>
      </div>
  </div>
</div>
<br><br><br>
</div>

</body>
</html>